{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}IShop{% endblock %}

{% block content %}
    <section class="container">
        <nav class="group-1">
            <span class="IShop">IShop</span>
            <div class="group-2">
                <a href="{% url 'home' %}" class="home">На главную</a>
                <a href="{% url 'services' %}" class="services">Наши сервисы</a>
                
            </div>
        </nav>
        <div class="card1">
            <img src="{% static 'mainapp/media/image2.png' %}" alt="" class="img1">
            <h2 class="name2">{{ telephone2.name }}</h2>
            <p class="desc desc2">Цвета: <br>{% for el in models %}{{ el.color }} <br>{% endfor %} <br>
            </p>
            <span class="price price2">Цена: 99.990 ₽</span>
            <form method="post" >
                {%  csrf_token %}
                <div class="inp-arr">
                    {{ form.name }}
                    {{ form.numb }}
                    {{ form.mail }}
                    {{ form.color }}
                    {{ form.count }}

                    {{ form.telephonemod }}
                    <button class="but" type="submit">Отправить заявку</button>
                    <span class="err">{{ error }}</span>
                </div>
            </form>
        </div>
        
        <footer>
            <div class="Fbot">
                <p class="contact">Связь с нами</p>
                <br>
                <br>
                <ul class="spisok">
                    <li>Номер: 7(996)-447-89-19</li>
                    <li>Email: kolzunov07@bk.ru</li>
                    <li>Адресс:Брянск, пр.Ленина 57, 241050</li>
                </ul>
            </div>
        </footer>
    </section>
{% endblock %}