{% load static %}
<!DOCTYPE html>
<html lang="Lorem">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IShop</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/mainpage2.css' %}">
</head>
<body>
    <section class="container">
        <nav class="group-1">
            <span class="IShop">IShop</span>
            <div class="group-2">
                <a href="{% url 'home' %}" class="home">На главную</a>
                <a href="{% url 'services' %}" class="services">Наши сервисы</a>
                
            </div>
        </nav>
        <div class="goods"><p class="Gtext">Товары которые у нас в наличии</p></div>

        <div class="card1">
            <a href=""><img src="{% static 'mainapp/media/image3.png' %}" alt="" class="img1"></a>
            <h2 class="name1">{{ telephone1.name }}</h2>
            <p class="desc desc1">
                Цвета:Черный, Серый<br>
                <br>Процессор: A17 Bionic<br>
                <br>Память: 512 GB<br>
                <br>Камера: 48 Мп<br>
            </p>
            <span class="price price1">Цена: 149.990 ₽</span>
            <a href="{% url 'ip15' %}"><button class="but1">Оформить заказ</button></a>
        </div>

        <div class="card2">
            <a href=""><img src="{% static 'mainapp/media/image2.png' %}" alt="" class="img2"></a>
            <h2 class="name2">{{ telephone2.name }}</h2>
            <p class="desc desc2">
                Цвета: Голубой,зеленый<br>
                <br>Процессор: A15 Bionic<br>
                <br>Память: 256 GB<br>
                <br>Камера: 48 Мп<br>
            </p>
            <span class="price price2">Цена: 99.990 ₽</span>
            <a href="{% url 'ip14' %}"><button class="but2">Оформить заказ</button></a>
        </div>

        <div class="card3">
            <a href=""><img src="{% static 'mainapp/media/image1.png' %}" alt="" class="img3"></a>
            <h2 class="name3">{{ telephone3.name }}</h2>
            <p class="desc desc3">
                Цвета:Черный, Серый<br>
                <br>Процессор: A15 Bionic<br>
                <br>Память: 1 Tb<br>
                <br>Камера: 48 Мп<br>
            </p>
            <span class="price price3">Цена: 84.990 ₽</span>
            <a href="{% url 'ip13' %}"><button class="but3">Оформить заказ</button></a>
        </div>

        <div class="card4">
            <a href=""><img src="{% static 'mainapp/media/image4.png' %}" alt="" class="img4"></a>
            <h2 class="name4">{{ telephone4.name }}</h2>
            <p class="desc desc4">
                Цвета: Серый, Голубой<br>
                <br>Процессор: Чип A13 Bionic<br>
                <br>Память: 128 GB<br>
                <br>Камера: 48 Мп<br>
            </p>
            <span class="price price4">Цена: 49.500 ₽</span>
            <a href="{% url 'ip11' %}"><button class="but4">Оформить заказ</button></a>
        </div>
        
        <footer>
            <div class="Fbot">
                <p class="contact">Связь с нами</p>
                <br>
                <br>
                <ul class="spisok">
                    <li>Номер: 7(996)-447-89-19</li>
                    <li>Email: kolzunov07@bk.ru</li>
                    <li>Адресс:Брянск, пр.Ленина 57, 241050</li>
                </ul>
            </div>
        </footer>
    </section>
   
    
</body>
</html>