{% load static %}
<!DOCTYPE html>
<html lang="Lorem">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>

    <link rel="stylesheet" href="{% static 'mainapp/css/order.css' %}">
</head>
<body>
    <section class="container">
        <nav class="group-1">
            <span class="IShop">IShop</span>
            <div class="group-2">
                <a href="{% url 'home' %}" class="home">На главную</a>
                <a href="{% url 'services' %}" class="services">Наши сервисы</a>
                
            </div>
        </nav>
        <div class="goods"><p class="Gtext">Спасибо за оформление заказа</p></div>
       <a href="{% url 'home' %}" ><button class="Hbut">Вернутся на главную</button></a>
       <p class="text">С вами свяжутся в течении 3-ёх рабочих дней. Просим вас ожидать!</p>
        <footer>
            <div class="Fbot">
                <p class="contact">Связь с нами</p>
                <br>
                <br>
                <ul class="spisok">
                    <li>Номер: 7(996)-447-89-19</li>
                    <li>Email: kolzunov07@bk.ru</li>
                    <li>Адресс:Брянск, пр.Ленина 57, 241050</li>
                </ul>
            </div>
        </footer>
    </section>
   
    
</body>
</html>